body{
    background-color: #d1a136;
}

.heading{
    font-size: 100px;
    text-align: center;
    color: #f7e584;
}

.image{
    height: auto;
    width: 60%;
    display: block;
    margin-inline: auto;
}

.description{
    font-size: 25px;
    color: #7a2508;
    text-align: center;
}

.ingredient-heading{
    font-size: 70px;
    color: #f7e584;
}

ul li{
    color: #7a2508;
    font-size: 20px;
}

.step-heading{
    font-size: 70px;
    color: #f7e584;
}

ol li{
    color: #7a2508;
    font-size: 20px;
}